.clients__list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.clients__item {
  flex-basis: calc((100% - 5 * 30px) / 6);
  height: 92px;
}
.clients__link {
  @extend %flex;
  width: 100%;
  height: 100%;
  border: 1px solid $iconColor;
  border-radius: 4px;
  color: $iconColor;
  transition: border $animation;

  &:hover,
  &:focus {
    border-color: $accentColor;
    color: $accentColor;
  }
}
.clients__icon {
  fill: currentColor;
  transition: fill $animation;

  .clients__link:hover &,
  .clients__link:focus & {
    fill: currentColor;
    transition: fill $animation;
  }
}
