.clients {
  @extend %section, %section;
}
.clients__title {
  @extend %title;
}
.clients .container {
  @extend %container;
}
.clients-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.clients-list__item {
  flex-basis: calc((100% - 5 * 30px) / 6);
  height: 92px;
}
.clients-list__link {
  @extend %flex;
  width: 100%;
  height: 100%;
  border: 1px solid $iconColor;
  border-radius: 4px;
  color: $iconColor;
  transition: border $animation;

  &:hover,
  &:focus {
    border-color: $accentColor;
    color: $accentColor;
  }
  .clients-list__icon {
    fill: currentColor;
  }
}
