.address {
  font-style: normal;
}
.address-list__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $transparentWhiteColor;
  transition: color $animation;

  &[href="https://goo.gl/maps/JHCXsqgSBJYCVwFo8"]
  {
    color: $whiteColor;
  }
  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}
