.footer-join .soc-list__link {
  background-color: $iconBackground;
}
.footer-join .soc-list__icon {
  fill: $whiteColor;
}
.soc-list__link.link.current,
.footer-join .soc-list__link:hover,
.footer-join .soc-list__link:focus {
  background-color: $accentColor;
}
