.social {
  @extend %social;
}

.social__link {
  @extend %sociallink;
  &:hover,
  &:focus {
    background-color: $accentColor;
    color: $whiteColor;
  }

  &:hover .social__icon,
  &:focus .social__icon {
    fill: currentColor;
  }
}
