body {
  font-family: 'roboto', sans-serif;
  color: $titleColor;
  background-color: $whiteBackgroundColor;
  letter-spacing: 0.03em;
}

.section {
  @extend %section;
}
.container {
  @extend %container;
}

.visually-hidden {
  @extend %visuallyHidden;
}

.btn-main {
  @extend %flex;
  min-width: 200px;
  height: 50px;

  transition: background-color $animation;
  border-radius: 4px;
  border: none;
  font-family: inherit;

  color: $whiteColor;
  background-color: $accentColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
