body {
  font-family: 'roboto', sans-serif;
  color: $titleColor;
  background-color: $whiteBackgroundColor;
  letter-spacing: 0.03em;
}

.section {
  @extend %section;
}
.container {
  @extend %container;
}

.visually-hidden {
  @extend %visuallyHidden;
}

.btn {
  display: flex;
  text-align: center;
  justify-content: center;
  @include button($accentColor, none, 0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-family: inherit;
  font-size: 16px;
  cursor: pointer;

  min-width: 200px;
  height: 50px;

  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: $whiteColor;
  transition: background-color $animation;
}
