@mixin button($color, $bgc, $shdw) {
  color: $color;
  background-color: $bgc;
  box-shadow: $shdw;
}

@mixin flex($dsp: flex, $fd: row, $ai: center, $jc: center, $gp: null) {
  display: $dsp;
  flex-direction: $fd;
  align-items: $ai;
  justify-content: $jc;
  gap: $gp;
}

// @mixin square($size, $radius: 0)
//   width: $size
//   height: $size

//   @if $radius != 0
//     border-radius: $radius
// .avatar
//   @include square(100px, $radius: 4px)

@mixin font($fs: false, $fw: false, $lh: false, $ls: false) {
  @if $fs {
    font-size: $fs;
  }
  @if $fw {
    font-weight: $fw;
  }
  @if $lh {
    line-height: calc($lh / $fs);
  }
  @if $ls {
    letter-spacing: $ls;
  }
}

@mixin animation($one, $two, $three, $time, $func, $del) {
  transition-property: $one, $two, $three;
  transition-duration: $time;
  transition-timing-function: $func;
  transition-delay: $del;
}
// font header-nav,  header-contact     // @include font(14px, 500, 16px, 0.02em);

// btn-main        //  @include font(16px, 700, 30px, 0.06em);

//  featers__subtitel,   fotter__appeal        // @include font(14px, 700, 16px, 0.03em);
// featers__descr             // @include font(14px, 400, 16px, 0.03em);
// team-label-wrap__title    // @include font(16px, 500, 19px, 0.03em);
// team-label-wrap__descr    //  @include font(16px, 400, 19px, 0.03em);
// title                    // @include font(36px, 700, 42px, 0.03em);
