%section {
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

%container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
%flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
%soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
%soc-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $whiteBackgroundColor;

  transition: background-color $animation;
}
%btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;

  font-family: inherit;
  font-size: 16px;

  cursor: pointer;
}

%visuallyHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
%title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
%headerList {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color $animation;
}
