.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  //   @include
}
.projects-list__item {
  flex-basis: calc((100% - 2 * 30px) / 3);
}
.projects-list__link {
  display: block;
  box-shadow: $boxShadowAtcl;
  transition: box-shadow $animation;
}
.projects-list__link:hover .thumb__descr,
.projects-list__link:focus .thumb__descr {
  transform: translateY(0%);
}
.projects-list__link:hover,
.projects-list__link:focus {
  box-shadow: $boxShadowAtcl;
  transition: box-shadow $animation;
}
.thumb {
  position: relative;
  overflow: hidden;
}
.thumb__descr {
  position: absolute;
  left: 0%;
  top: 0%;
  transform: translateY(105%);
  transition: transform $animation;

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  background-color: $backgroundColorThumb;
  @include font(18px, 400, 28px, 0.03em);
  font-size: 18px;
  line-height: 1.56;
  color: $whiteColor;
}
.projects-label-wrap {
  padding: 20px 24px;
  border: 1px solid $borderColorProjects;
  border-top: none;
}
.projects-label-wrap__title {
  margin-bottom: 4px;

  @include font(18px, 700, 36px, 0.06em);

  //    font-weight: 700;
  //    font-size: 18px;
  //   line-height: 2;
  //   letter-spacing: 0.06em;
  color: $titleColor;
}
.projects-label-wrap__descr {
  @include font(16px, 400, 30px, 0.03em);
  //   font-size: 16px;
  //   line-height: 1.88;
  //   letter-spacing: 0.03em; (from btn)
  //   fm 400 за замовч

  color: $primaryColor;
}
