.filter-list {
  display: flex;
  justify-content: center;
}
.filter-list__item {
  margin-bottom: 50px;
}
.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  min-width: 73px;
  height: auto;
  padding: 6px 22px;

  @include font(16px, 500, 26px, 0.03em);
  // font-weight: 500;
  // line-height: 1.63;
  // letter-spacing: 0.03em;
  color: $titleColor;
  background-color: $backgroundColorAdd;
  box-shadow: $boxShadowFltr;

  transition: background-color $animation, color $animation, box-shadow 250ms $animation;

  &:hover,
  &:focus {
    color: $whiteColor;
    background-color: $accentColor;
    box-shadow: $boxShadowFltr;
    transition: background-color $animation, color $animation, box-shadow 250ms $animation;
  }
}
.current-btn {
  color: $whiteColor;
  background-color: $accentColor;
  box-shadow: $boxShadowFltr;
}
